.landing-wrapper{
  h1{
    font-size: 32px;
    text-align: center;
  }
  p{
    font-size: 22px;
    text-align: center;
  }
  div{
    p{
      line-height: 1.7;
    }
  }
  .menu-icon{
    vertical-align: middle;
  }
  ul{
    li{
      font-size: 19px;
      font-style: italic;
      font-weight: lighter;
    }
  }
}