.carousel-container{
  position: relative;
  overflow-x: hidden;
  border: 1px solid #eee;
  box-shadow: 0 2px 3px #ccc;
  border-radius: 3px;
  padding: 15px;
  h3{
    padding: 0 15px;
    position: relative;
    margin-bottom: 25px;
    height: 40px;
    &:after{
      position: absolute;
      bottom: 0;
      right: 0;
      left: 15px;
      background-color: #dfdfdf;
      height: 1px;
      content: "";
      z-index: 0;
    }
    span{
      font-size: 22px;
      position: relative;
      height: 40px;
      display: inline-block;
      &:before{
        content: "";
        position: absolute;
        left: 0;
        right: -40px;
        bottom: 0;
        background-color: #273c6b;
        height: 1px;
        z-index: 1;
      }
      &:after{
        content: "";
        position: absolute;
        right: -45px;
        width: 15px;
        height: 1px;
        background-color: #fff;
        bottom: 0;
        z-index: 1;
      }
    }
  }

  .navigate{
    position: absolute;
    top: 50%;
    background: rgba(254, 255, 255, 0.8);
    z-index: 50;
    height: 70px;
    margin-top: -35px;
    width: 40px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    &.next{
      right: 0;
      border-top-left-radius: 6px;
      border-bottom-left-radius: 6px;
      box-shadow: -1px 0px 2px #7d7d7d;
    }
    &.before{
      left: 0;
      border-top-right-radius: 6px;
      border-bottom-right-radius: 6px;
      box-shadow: 1px 0 2px #7d7d7d;
    }
    svg{
      fill: #888;
      font-size: 40px;
    }
    &:hover{
      background: #fff;
      svg{
        fill:#000;
      }
    }
  }
  .carousel-wrapper{
    width: 100%;
    position: relative;
    min-height: 370px;

    .carousel{
      position: absolute;
      display: flex;
      height: 100%;
      transition: transform 2s linear;
    }
  }
}
